.Board {
  width: 70vw;
  height: calc(70vw * 6/7);
  background-color: blue;
  margin: auto;
  display: flex;
  min-height: 50vh;
  max-height: calc(70vh * 6/7);
  min-width: calc(50vh * 7/6);
  max-width: 70vh;
}

.App {
  padding-top: 5vh;
}

.Column {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
}

.Slot {
  background-color: white;
  border-radius: 50%;
  margin: 6% 6%;
  border-style: inset;
  border-width: medium;
  flex: 1;
}

.NextPlayer {
  width: 70vw;
  height: 1vh;
  max-width: 70vh;
  border: solid thin black;
  margin: auto auto 20px;
}

.PlayerColor.Player-R {
  background-color: red;
}

.PlayerColor.Player-Y {
  background-color: yellow;
}

.Board .Column:hover {
  background-color: #6ab1d7;
}

.Column:hover .Free:not(.Free + .Free) {
  border-style: solid;
  border-color: lime;
}

.App.Player-Y .Column:hover .Free:not(.Free + .Free) {
  background-color: #fff4c2;
}

.App.Player-R .Column:hover .Free:not(.Free + .Free) {
  background-color: #ffc2c2;
}

.Restart {
  display: block;
  margin: 6vh auto;
}

.Restart::after {
  content: "⟳"
}
